*{
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    

}

.home{
    height:90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
  
  .student,
  .teacher {
    border: 2px solid ; 
    padding: 20px; 
    margin: 60px; 
    transition: border-color 0.3s; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .student:hover,
  .teacher:hover {
    border-width: 3px;
    color: #4c4be5;
    border-color:#4c4be5; 
    cursor: pointer; 
  }
  
   .student a, .teacher a{
    margin-left: 0px;
  }

  .student:hover h4,
  .teacher:hover  h4{
    color: #4c4be5;
  }